/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/


/* Estilos generales para los ítems */
#floating-nav ul li a {
  background: rgba(255, 255, 255, 0.35);  /* Fondo blanco con opacidad */
  color: black;  /* Texto negro */
  display: flex;
  align-items: center;
  height: 60px;
  width: 70px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
  position: relative;
  right: 0;
  opacity: 0.35;  /* Opacidad inicial similar a los íconos en nav */
}

/* Estilo cuando el cursor pasa por encima */
#floating-nav ul li:hover a {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  background: #ffffff;  /* Fondo blanco sin transparencia */
  color: black;  /* Texto negro */
  opacity: 1;  /* Opacidad al 100% (sin transparencia) */
  right: 130px;
}


/* Estilo de los íconos */
#floating-nav ul li a i {
  font-size: 20px;   /* Ajustamos el tamaño del ícono */
  color: black;  /* Color negro para los íconos */
  margin-right: 10px;  /* Añadimos un poco de espacio entre el ícono y el texto */
}

#floating-nav ul li a:hover i {
  color: #333333;  /* Los íconos se vuelven de color gris oscuro o negro */
}


#floating-nav {
  position: fixed;
  margin-top: 150px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
  width: 70px;
  height: 180px;
  right: 0;
  transition: all 0.3s linear;
}

#floating-nav ul li {
  height: 60px;
  position: relative;
}

/* Estilo del texto */
#floating-nav ul li a span {
  font-weight: 600;
  letter-spacing: 1px;
  display: none;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden;    /* Esconde el texto que se sale del contenedor */
  text-overflow: ellipsis; /* Añade "..." al final si el texto es demasiado largo */
  text-align: right;   /* Alinea el texto a la derecha */
  padding-left: 10px;   /* Ajusta el espaciado si es necesario */
  padding-right: 10px;  /* Ajusta el espaciado si es necesario */
  font-size: 20px;  /* Ajusta el tamaño del texto */
}

/* Mostrar el texto cuando el cursor pasa por encima */
#floating-nav ul li:hover a span {
  display: block;
}
