/* Nav */

#nav a {
    position: relative;
    display: inline-block;
    color: #ffffff;
    width: 1em;
    height: 1em;
    line-height: 0.9em;
}

#nav a.icon:before {
    padding-right: 0;
}

/* Panels */

#main {
    position: relative;
    overflow: hidden;
}

.panel {
    position: relative;
}

/* Benvida */

#benvida {
    background-color: #333333;
}

#benvida a.button {
    padding: 0.3em 1em;
    color: #666666;
    background-color: #ffffff;
    border-radius: 0.2em;
    margin-top: 0.6em;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

#benvida a.button:hover {
    /*color: #ffffff;*/
    color: #9D7CFF;
}

#benvida h1 {
    color: #ffffff;
    font-size: 6em;
    line-height: normal;
    margin: 0 0 -0.2em 0;
}

#benvida p {
    color: #ffffff;
    font-size: 1em;
    margin: 0;
}

#benvida .centered-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#benvida .bg-video {
    opacity: .7;
    height: 105%;
    width: 100%;
}

#benvida .bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    margin-bottom: -5px;
    z-index: 0;
}

#benvida video {
    object-fit: contain;
}

#benvida .video-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
}

#benvida .logo {
    background: url(images/logo.png) no-repeat;
    background-size: contain;
    display: block;
    height: 15em;
    width: 15em;
    margin: auto auto 1em auto;
}

/* Mapa */

#mapa .row>* {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0.75em;
}

#mapa img {
    width: 100%;
}

#mapa p.description {
    width: 83%;
    display: inline-block;
    /*padding-left: 18%;*/
}

#mapa h4.name-mini {
    text-align: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    /*padding-left: 18%;*/
}


/* Nos */

#nos img {
    width: 100%;
}

.card-img-top {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .card-img-top {
        aspect-ratio: 3 / 2;
    }
}

#nos p.description {
    width: 100%;
    display: inline-block;
    font-size: 0.8em;
    line-height: 160%;
}

#nos h4.name-mini {
    text-align: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    /*padding-left: 18%;*/
}

/* Historia */

#anosahistoria img {
    width: 100%;
}

.card-img-top {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .card-img-top {
        aspect-ratio: 3 / 2;
    }
}

#anosahistoria p.description {
    width: 100%;
    display: inline-block;
    font-size: 0.8em;
    line-height: 160%;
}

#anosahistoria h4.name-mini {
    text-align: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    /*padding-left: 18%;*/
}


/* Contacto */

#contacto p.small {
    font-size: 0.8em;
}

/* Footer */

#footer {
    color: #ccc;
    color: rgba(255, 255, 255, 0.45);
}

#footer a {
    color: #ddd;
    color: rgba(255, 255, 255, 0.65);
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

#footer a:hover {
    color: white;
}

#footer .copyright li {
    display: inline-block;
}

#footer .copyright li:before {
    display: inline;
    content: '\2022';
    opacity: 0.5;
    padding: 0 0.75em 0 0.75em;
}

#footer .copyright li:first-child:before {
    display: none;
}



@media screen and (min-width: 737px) {

    /* Panels */

    #main {
        width: 45em;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0.1em 0.4em 0.2em rgba(0, 0, 0, 0.2);
    }

    .panel {
        padding: 3.5em 2.5em 3.5em 2.5em;
        position: absolute;
        top: 0;
        left: 0;
        width: 45em;
    }

    /* Benvida */

    #benvida {
        padding: 0;
        height: 29em;
    }

    #benvida .pic {
        display: block;
        position: absolute;
        right: -1px;
        top: 0;
        height: 20em;
        text-decoration: none;
    }

    #benvida .pic img {
        position: relative;
        display: block;
        height: 20em;
    }

    #benvida .pic .arrow {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -1.375em;
        width: 2.75em;
        height: 2.75em;
        background: #000;
        background: rgba(0, 0, 0, 0.75);
        color: #ffffff;
        text-align: center;
        line-height: 2.75em;
        font-size: 1.5em;
        z-index: 1;
        -moz-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
        -webkit-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
        -ms-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
        transition: width .15s ease-in-out, padding-right .15s ease-in-out;
    }

    #benvida .pic .arrow:before {
        position: relative;
        padding-right: 0;
        top: 0.125em;
    }

    #benvida .pic .arrow span {
        display: block;
        text-indent: -9999px;
    }

    #benvida .pic:hover .arrow {
        width: 3em;
        padding-right: 0.25em;
    }

    #benvida header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin-left: 2.5em;
    }

    #benvida header>h1 {
        position: absolute;
        left: 0;
        bottom: 52.5%;
        margin: 0;
    }

    #benvida header>p {
        position: absolute;
        left: 0;
        top: 52.5%;
        font-size: 1.5em;
        letter-spacing: -0.015em;
        margin-top: 0;
    }

    /* Footer */

    #footer {
        text-align: center;
        padding: 2em 0 0 0;
        font-size: 0.75em;
    }

}

@media screen and (max-width: 736px) {
    /* Panels */

    #main {
        background: none;
    }

    #benvida {
        padding: 0;
    }

    .panel {
        padding: 15px 15px 15px 15px;
        margin: 0 0 7px 0;
        background: #ffffff;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
    }

    .panel header {
        padding-top: 1em;
    }

    /* Benvida */

    #benvida {
        padding: 0;
        height: 29em;
    }

    #benvida .pic {
        width: 100%;
    }

    #benvida .pic img {
        display: block;
        width: 100%;
    }

    #benvida .pic .arrow {
        display: none;
    }

    #benvida header {
        text-align: center;
    }

    #benvida header>h1 {
        font-size: 2.15em;
        letter-spacing: -0.025em;
    }

    #benvida header>p {
        font-size: 1.25em;
    }

    /* Mapa */

    #mapa {
        /* padding: 0; */
        height: 100%;
    }

    #mapa iframe {
        width: 100vw;
        position: relative;
        margin: 0 -50vw;
    }

    /* Nos */

    #nos p.description {
        font-size: 1em;
    }

    /* Footer */

    #footer {
        text-align: center;
        padding: 2em 0 0 0;
        font-size: 0.85em;
    }

    #footer .copyright li {
        display: block;
    }

    #footer .copyright li:before {
        display: none;
    }

}